mixin ifActive(checkThis)
  if activePage == checkThis
    li.active
      a(href='/' + checkThis) #{linkDesc}
  else
    li
      a(href='/' + checkThis) #{linkDesc}
mixin logo(classes)
  .logo(class=classes)
      .logo-container
        .j
        .b
        .c
        .ust
        .etter
        .omputers
doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="msapplication-TileColor", content="#D83434")
    meta(name="msapplication-TileImage", content="../favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery/jquery.js')
    script(src='/javascripts/bootstrap/bootstrap.js')
    script(src='/javascripts/modernizr/modernizr.js')
    script(src='/javascripts/jquery/slidingdropdown.js')
  body
    //if lt IE 7
      p.browsehappy
        | You are using an <strong>outdated</strong> browser.
        | Please <a href="http://browsehappy.com/">upgrade your browser</a>
        | to improve your experience.

    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-header
        div
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.main-nav')
            span.sr-only Toggle navigation
            | Menu
          //p.menu-label.visible-xs Menu
        a.navbar-brand(href='/index')
          +logo("abbr")
          //img.img-responsive.visible-lg.visible-md(src='/images/jbc_logo.png')
          //img.img-responsive.hidden-lg.hidden-md(src='/images/jbc_logo_letters.png')
        p.phone.visible-xs 
          a(href='tel:4784517249')
            = phoneNumber
      .navbar-collapse.collapse.main-nav
        ul.nav.navbar-nav
          li(class=index)
            a(href='/') About Us
          li(class=services)
            a(href='/services') Services/Pricing
          li.dropdown(class=[news, testimonials, givingBack])
            a.dropdown-toggle(href='#')
              | Community
              b.caret
            ul.dropdown-menu.navbar-inverse
              li(class=news)
                a(href='/news') News
              li(class=testimonials)
                a(href='testimonials') Testimonials
              li(class=givingBack)
                a(href='giving-back') Giving Back
        p.phone.pull-right.hidden-xs 478-451-7249

    #bgLayer
      #wrap
        block content
        #push

      footer
        p.text-center
          - var date = new Date, date = date.getFullYear();
          | &copy; #{date} Just Better Computers, all rights reserved. Site created by A.J. Roberts

      
      script.
        window.jQuery
      script(src='/javascripts/main.js')
      //- Google Analytics: change UA-XXXXX-X to be your site's ID.
      //-
        script.
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');
